/* .group-main-container {
  display: flex;
} */

.group-form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;

  padding: 100px 30px;
  padding-bottom: 0;

  margin-bottom: 20px;
}

.group-form-left,
.group-form-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.group-records {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 80px;
}

.group-records .group-history {
  padding: 0;
  margin-bottom: 30px;
}

.view-more-btn {
  width: fit-content;
  align-self: center;
  justify-content: center;
  border-radius: 15px;
  background: #ffcd44;

  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;

  padding: 10px 200px;
}
