.create-group-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.create-group-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 50px;
}

.create-group-form {
  display: flex;
  border-radius: 15px;
  background: #eee;
  padding: 25px 40px;
  gap: 25px;

  position: relative;
}

.create-group-heading {
  color: #000;
  font-size: 28px;
  font-family: Poppins;
  font-weight: 700;
  text-align: center;
}

.form-item input {
  border-radius: 10px;
  border: 2px solid #000;
  background: #fff;
}

.create-group-form .form-item {
  width: 100%;
  margin: 0;
}

.create-group-form .form-item input {
  width: 100%;
}

.members-input-box {
  display: flex;
  border-radius: 10px;
  border: 2px solid #000;
  margin-bottom: 10px;
}

.members-input-box input {
  border: none;
  border-radius: 10px 0 0 10px;
}

.member-add-btn {
  border-radius: 0px 8px 8px 0px;
  background: #ffcd44;

  padding: 10px 20px;

  color: #000;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 700;
}

.get-started-btn {
  border-radius: 0px 0px 15px 15px;
  background: #ffcd44;
  /* position: absolute; */
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;

  margin: 0 -40px -25px -40px;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 700;
}
