.navbar {
  background-color: #ffcd44;
  height: 8rem;
  padding: 2.5rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  height: 3.2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;

  color: #000;
  font-size: 2rem;
  font-family: Poppins;
  font-weight: 700;
}

@media (max-width: 600px) {
  .navbar {
    padding: 2.5rem 4rem;
  }
}
